language: python
sudo: false
python:
    - 2.6
    - 2.7
    - 3.3
    - 3.4
    - pypy
#   pypy3 blocked on PyPy3-compatible zodbpickle
#   - pypy3
install:
    - pip install .
    - pip install zope.keyreference[test]
script:
    - python setup.py test -q
notifications:
    email: false
