[buildout]
develop = .
find-links =
    ${buildout:directory}/ZODB-4.0.0dev.tar.gz
parts = test py
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = zope.keyreference [test]

[py]
recipe = zc.recipe.egg
eggs = zope.keyreference
interpreter = py

[versions]
ZODB = 4.0.0dev
